#header {
    position: relative;
}
#header .logo {}
#header .logo a {}
#header .logo a img {}
#header .special {
    width: 100%; height: 55px;
    background-color: #000;
    position: absolute;
    top: 0; left: 0;
}
#header .special p {
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 0.88rem;
}
