#wrap {position: relative;}
header .special {
    width: 100%; height: 45px; background-color: #000;
    position: relative;
    z-index: 99;
}
header .special p {
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 0.88rem;
    font-weight: 300;
}
header .headerin {
    max-width: 1600px; margin: 0 auto; 
    height: 80px;
    display: flex; justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
}
header .headerin nav .gnb_bg {
    width: 1920px; height: 410px;
    background-color: #fff;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 0px;
    font-size: 0;
    border-top: 2px solid #efefef;
    display: none;
    z-index: 1;
}
header .headerin nav:hover .gnb_bg {display: block; background-color: #ffff;}
header .headerin nav .gnb {display: flex;}
header .headerin nav .gnb > li {margin: 0 40px 0 0;}
header .headerin nav .gnb > li:nth-child(6) {margin: 0;}
header .headerin nav .gnb > li > a {
    display: block; height: 80px; 
    line-height: 80px; 
    position: relative;
    font-weight: 400; letter-spacing: -0.02em;
    color: #fff;
    z-index: 99;
    transition: all .4s;
}
header .headerin nav:hover .gnb > li > a {color: #000;}
header .headerin nav .gnb > li > a::after {
    content: '';
    display: block;
    width: 0; height: 100%;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 0; left: 0;
    transition: all .4s;
}
header .headerin nav .gnb > li:hover > a::after {width: 100%;}
header .headerin nav .gnb > li:nth-child(6) {margin: 0;}
header .headerin nav .gnb > li .depth1 {
    width: 100%;
    display: none;
    justify-content: center;
    position: absolute;
    top: 105px; left: 50%; transform: translateX(-50%);
    text-align: center;
}
header .headerin nav .gnb > li .depth1 > li {margin: 0 120px 0 0;}
header .headerin nav .gnb > li .depth1 > li:last-child {margin: 0;}
header .headerin nav .gnb > li .depth1 > li > a {font-weight: 500; letter-spacing: -0.02em;}
header .headerin nav .gnb > li .depth1 > li .depth2 {margin: 25px 0 0;}
header .headerin nav .gnb > li .depth1 > li .depth2 > li {margin: 0 0 19px;}
header .headerin nav .gnb > li .depth1 > li .depth2 > li:last-child {margin: 0;}
header .headerin nav .gnb > li .depth1 > li .depth2 > li > a {font-size: 0.88rem;}
header .headerin .util {display: flex;}
header .headerin .util li {margin: 0 20px 0 0;}
header .headerin .util li:last-child {margin: 0;}
#mainVisual {width: 100%; height: 960px; position: absolute; top: 0; left: 0;}
#mainVisual .mv_bg {
    width: 100%; height: 100%;
    background: url(../img/mv_img01.png) no-repeat center center;
    position: relative;
}
#mainVisual .mv_bg .txt {
    width: 50%; height: 100%;
    padding: 455px 0 0 158px;
}
#mainVisual .mv_bg .txt h2 {font-size: 4.38rem; font-weight: 600; color: #fff;}
#mainVisual .mv_bg .txt p {font-size: 1.13rem; font-weight: 300; line-height: 140%; color: #fff; margin: 50px 0;}
#mainVisual .mv_bg .txt a {
    display: block;
    width: 123px; height: 41px;
    color: #fff;
    font-weight: 300;
    line-height: 41px; padding-left: 20px;
    background: #000 url(../img/arrow_w.png) no-repeat 85px center;
}